@font-face {
  font-family: nb;
  src: url("./src/fonts/NBInternationalProBoo.ttf");
}

@font-face {
  font-family: rejouice;
  src: url("./src/fonts/Rejouice-Headline.ttf");
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: nb;
}

html,
body {
  height: 100%;
  width: 100%;
}

#hero-section {
  height: 100vh;
  width: 100%;
  position: relative;
}

#hero-background-video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#hero-section-content {
  position: absolute;
  top: 0;
  color: white;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 2;
}

#hero-section-content nav {
  display: flex;
  justify-content: space-between;
  font-size: 1.35vw;
  font-weight: 100;
  padding: 6vh 3vw;
}

#hero-section-content nav a {
  color: white;
  text-decoration: none;
}

#hero-section h1 {
  padding-left: 1.7vw;
}

#hero-section h1 span {
  font-family: rejouice;
  font-size: 26.7vw;
  font-weight: 100;
  line-height: 29vw;
}

#cursor {
  height: 7.5vw;
  width: 7.5vw;
  border-radius: 50%;
  background-color: #fa5f38;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(-50%, -50%);
}

#cursor h5 {
  font-size: 1.1vw;
  color: rgb(52, 41, 41);
}

#page2 {
  height: 100vh;
  width: 100%;
  background-color: #faf8f3;
}

#page2content {
  padding: 2.7vw;
  padding-top: 5.6vw;
  color: #0e0e0e;
}

#content-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 0.7vw;
}

#content-header h3 {
  font-size: 1.6vw;
  font-weight: 100;
  line-height: 2vw;
}

#scroll {
  height: 0.5px;
  width: 100%;
  background-color: #0e0e0e;
  transform-origin: 0% 0%;
  transform: scaleX(0);
}

#desc {
  font-size: 4.3vw;
  font-weight: 100;
  margin-top: 0.7vw;
}
