@font-face {
  font-family: nb;
  src: url("./src/fonts/NBInternationalProBoo.ttf");
}

@font-face {
  font-family: rejouice;
  src: url("./src/fonts/Rejouice-Headline.ttf");
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: nb;
}

html,
body {
  height: 100%;
  width: 100%;
}

/* #main {
  min-height: 100%;
  width: 100%;
} */

#topline {
  height: 1px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: rgba(255, 166, 0, 0.589);
}

#hero-section {
  height: 100vh;
  width: 100%;
  position: relative;
}

#hero-background-video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#hero-section-content {
  position: absolute;
  top: 0;
  color: white;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 2;
}

#hero-section-content nav {
  display: flex;
  justify-content: space-between;
  font-size: 1.35vw;
  font-weight: 100;
  padding: 6vh 3vw;
}

#hero-section-content nav a {
  color: white;
  text-decoration: none;
}

#hero-section h1 {
  padding-left: 1.7vw;
}

#hero-section h1 span {
  font-family: rejouice;
  font-size: 26.7vw;
  font-weight: 100;
  line-height: 29vw;
}

#cursor {
  height: 7.5vw;
  width: 7.5vw;
  border-radius: 50%;
  background-color: #fa5f38;
  /* position: fixed; */
  position: absolute;
  /* position: sticky; */
  top: 600px;
  left: 50%;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(-50%, -50%);
}

#cursor h5 {
  font-size: 1.1vw;
  color: rgb(52, 41, 41);
}

#page2 {
  height: 100vh;
  width: 100%;
  background-color: #faf8f3;
}

#page2content {
  padding: 2.7vw;
  padding-top: 5.6vw;
  color: #0e0e0e;
}

#content-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 0.7vw;
}

#content-header h3 {
  font-size: 1.6vw;
  font-weight: 100;
  line-height: 2vw;
}

#scroll {
  height: 1px;
  width: 100%;
  background-color: #0e0e0e;
  transform-origin: 0% 0%;
  transform: scale(0, 0.5);
}

#desc {
  font-size: 4.3vw;
  font-weight: 100;
  margin-top: 0.7vw;
}

#page3 {
  min-height: 100vh;
  width: 100%;
  background-color: #faf8f3;
  padding: 2.8vw;
}

#page3-top-section {
  padding-top: 4.7vw;
  text-align: center;
}

#page3-top-section p {
  font-size: 1.2vw;
  font-weight: 100;
  margin-bottom: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0.96);
}

#page3-top-section p span:nth-child(1) {
  font-size: 18px;
  background-color: black;
  padding: 6px 14px;
  color: white;
  border-radius: 16px;
  margin-left: 8px;
  margin-right: 18px;
}

#page3-top-section p span:nth-child(2) {
  transform: rotate(-90deg);
  color: #3b3b38;
}

#page3-top-section h2 {
  font-size: 4.2vw;
  font-weight: 100;
  /* background-color: lightpink; */
}

#page3-top-section div {
  margin-top: 16vw;
  margin-bottom: 12px;
  display: flex;
  justify-content: space-between;
}

#page3-top-section div p {
  font-size: 1.6vw;
  font-weight: 100;
}

#page3-elements {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 16vh;
}

#page3-elements .box {
  height: 100%;
  width: 32.6%;
  position: relative;
}

#page3-elements .box:hover .img {
  opacity: 0;
  transition: 0.6s;
}

#page3-elements video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

#page3-elements .img {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#page3-elements .logo-container {
  position: absolute;
  bottom: 3.6vw;
  left: 9.8vw;
  z-index: 10;
  height: 85px;
  width: 255px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#page3-elements .logo-container img {
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
}

#page3-elements .box:last-child .logo-container {
  transform: scale(2.8);
  bottom: 4vw;
}

#page3-elements .box:nth-last-child(2) .logo-container {
  transform: scale(2);
  bottom: 4vw;
}
